/* Ajoutez votre CSS personnalisé ici */

.container-fluid {
    font-family: 'Poppin', sans-serif;
    background-color: ghostwhite;
    background-attachment: fixed;
    padding: 30px;
}

.card {
    border-color: blue;
}

.card-header {
    background-color: #17a2b8 !important;
    color: white !important;
}

.card-body {
    background-color: #e9ecef;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: white;
    outline: none;
    cursor: pointer;
}
.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: -22px; /* Ajustement pour aligner avec le menu principal */
    transition: all 0.3s ease;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.parent-menu:hover .submenu {
    display: block;
}
.second-navbar {
    background-color: #f0f0f0; /* Nouvelle couleur de fond */
    padding: 0 20px;
    border-radius: 0;
    box-shadow: 0 10px 4px rgba(159, 162, 177, .8);
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
}

/* On stylise chaque élément */
.second-navbar .nav-item {
    color: #17a2b8; /* Nouvelle couleur de texte */
    font-family: arial, sans-serif;
    padding: 20px;
    margin: 0 6px;
    position: relative;
}

/* Ici on met juste un petit élément avant chaque élément pour le rendre plus beau visuellement */
.second-navbar .nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    background-color: #dfe2ea; /* Nouvelle couleur pour l'élément avant */
    height: 5px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    left: 0;
    transition: .3s;
}

/* Avec les dernières nouveautés de CSS, on peut changer les propriétés des éléments selon des conditions avec not */
.second-navbar .nav-item:not(.is-active):hover:before {
    bottom: 0;
}
.second-navbar .nav-item:not(.is-active):hover {
    color: #333;
}

/* Stylisons notre indicateur */
.second-navbar .nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: .4s;
    border-radius: 8px 8px 0 0;
}

.second-navbar .nav-item.active {
    color: #007bff; /* Nouvelle couleur pour le texte des liens actifs */
    font-weight: bold; /* Texte en gras pour les liens actifs */
}

.status-pending {
    color: blue; /* Blue color for Pending status */
}

.status-accepted {
    color: green; /* Green color for Accepted status */
}

.status-rejected {
    color: red; /* Red color for Rejected status */
}
.employee-profile-body {
    background-color: #f9f9fa;
}

.employee-profile-padding {
    padding: 3rem !important;
}

.employee-profile-card {
    overflow: hidden;
}

.employee-profile-card .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;

}

.employee-profile-m-r-0 {
    margin-right: 0px;
}

.employee-profile-m-l-0 {
    margin-left: 0px;
}

.bg-employee-profile {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.employee-profile-user-profile {
    padding: 20px 0;
}

.employee-profile-card-block {
    padding: 1.25rem;
}

.employee-profile-m-b-25 {
    margin-bottom: 25px;
}

.employee-profile-img-radius {
    border-radius: 5px;
}

.employee-profile-h6 {
    font-size: 14px;
}

.employee-profile-card .card-block p {
    line-height: 130px;
}

@media only screen and (min-width: 1400px) {
    .employee-profile-p {
        font-size: 14px;
    }
}

.employee-profile-b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.employee-profile-m-b-20 {
    margin-bottom: 20px;
}

.employee-profile-p-b-5 {
    padding-bottom: 5px !important;
}

.employee-profile-m-b-10 {
    margin-bottom: 10px;
}

.employee-profile-text-muted {
    color: #919aa3 !important;
}

.employee-profile-f-w-600 {
    font-weight: 600;
}

.employee-profile-m-t-40 {
    margin-top: 20px;
}

.employee-profile-card .social-link li {
    display: inline-block;
}

.employee-profile-card .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.page-container-expanded {
    max-width: 1500px; /* Ajustez la largeur maximale selon vos besoins */
    margin: 0 auto; /* Pour centrer le conteneur horizontalement */
}


/* Ajoutez d'autres styles personnalisés au besoin */
